<p><%= form.label :user_old_password, 'Obecne hasło:', :class => "blocking" %>
<%= password_field "user", "old_password", {:class => "text", :size => 30, :value => ''} %></p>

<p><%= form.label :user_password, 'Nowe hasło:', :class => "blocking" %>
<%= password_field "user", "password", {:class => "text", :size => 30, :value => ''} %></p>

<p><%= form.label :user_password_confirmation, 'Potwierdź nowe hasło:', :class => "blocking" %>
<%= password_field "user", "password_confirmation", {:class => "text", :size => 30, :value => ''} %></p>
