<% if params[:action] == 'show' %><p>Imię i nazwisko/pseudonim: <strong><%= @user.name %></strong></p><% end %>

<p>Adres email: <%= obfuscate_email(@user.email) %></p>

<p>Uprawnienia: <strong><%= @user.roles.collect {|r| r.name.mb_chars.downcase}.join("</strong>, <strong>") %></strong></p>

<p>Ostatnie udane logowanie:
<% if @user.last_logged_on %>
<strong><%= @user.last_logged_on.strftime("%Y-%m-%d %H:%M") %></strong> (z adresu IP: <code><%= @user.last_ip %></code>).
<% else %>
brak danych.
<% end %>
</p>

<p>Ostatnie nieudane logowanie:
<% if @user.last_failed_logged_on %>
<strong><%= @user.last_failed_logged_on.strftime("%Y-%m-%d %H:%M") %></strong> (z adresu IP: <code><%= @user.last_failed_ip %></code>).
<% else %>
brak danych.
<% end %>
</p>

<p>Data rejestracji: <strong><%= @user.created_on.strftime("%Y-%m-%d %H:%M") %></strong>.</p>

<p>Liczba logowań: <strong><%= @user.login_count %></strong></p>

<%- if administrator? -%>

<p>SLUG: <strong><%= @user.slug %></strong></p>

<%- if !@user.is_activated? -%>
<p><strong>Użytkownik nie został jeszcze aktywowany.</strong></p>
<%- end -%>

<%- if @user.blocked? -%>
<p><strong>Użytkownik zablokowany.</strong></p>
<%- end -%>

<%- end -%>
