<%- form_for @user, :url => change_password_path do |f| %>

<p><%= f.label :user_old_password, 'Obecne hasło:', :class => "blocking" %>
<%= f.password_field :old_password, {:class => "text", :size => 30, :value => ''} %></p>

<p><%= f.label :user_password, 'Nowe hasło:', :class => "blocking" %>
<%= f.password_field :password, {:class => "text", :size => 30, :value => ''} %></p>

<p><%= f.label :user_password_confirmation, 'Potwierdź nowe hasło:', :class => "blocking" %>
<%= f.password_field :password_confirmation, {:class => "text", :size => 30, :value => ''} %></p>

<p class="submit"><%= f.submit "Zmień hasło", :class => "button" %>
<%= link_to 'Anuluj', profile_path, :class => 'cancel' %></p>

<%- end -%>
