<%- if !defined?(password_change_allowed?) or password_change_allowed? -%>
<p><%= link_to 'Zmiana hasła', change_password_path %></p>
<%- end -%>

<p><%= link_to 'Zmiana adresu email', change_email_address_path %></p>

<%- form_for @user, :url => profile_path do |f| %>

<%= render :partial => f %>

<%= render :partial => 'user' %>

<%= render :partial => 'detailed_profile' %>

<p class="submit"><%= f.submit 'Uaktualnij profil', :class => 'button' %>
<%= link_to 'Anuluj', SimplyAuthenticate::Settings.default_redirect_to, :class => 'cancel' %></p>

<%- end -%>
