<%- if password_change_allowed? -%>
<p><%= link_to 'Zmiana hasła', change_password_path %></p>
<%- end -%>

<p><%= link_to 'Zmiana adresu email', change_email_address_path %></p>

<%- form_for @user, :url => profile_path do |f| %>

<%= render :partial => f %>

<%= render :partial => 'user' %>

<p><%= f.submit 'Uaktualnij profil', :class => 'button' %>
<%= button_to_function 'Anuluj', "window.location='/'",  :class => "button cancel" %></p>

<%- end -%>
