<p>Aby zarejestrować się w serwise wystarczy podać swój adres email, na który zostanie wysłana wiadomość z linkiem aktywującym konto.</p>

<%- form_for @user, :url => register_path do |f| -%>

<p><%= f.label :email, 'Email:', :class => "blocking" %>
<%= f.text_field :email, :class => "text", :size => 30 %></p>

<!-- render :partial => 'captcha' -->

<%= content_tag :p, SimplyAuthenticate::Settings.legal_notice, :class => 'legal-notice' if SimplyAuthenticate::Settings.legal_notice.present? %>

<%- if SimplyAuthenticate::Settings.legal_requirements_message.present? -%>
<p class="legal-requirements"><%= check_box 'legal_requirements', 'accepted', :checked => params[:legal_requirements].present? && params[:legal_requirements][:accepted].present? ? params[:legal_requirements][:accepted] == '1' : true %>
<%= label_tag 'legal_requirements_accepted', SimplyAuthenticate::Settings.legal_requirements_message, :class => 'checkbox' %></p>
<%- end %>

<p><%= f.submit "Rejestracja", :class => "button" %>
<%= link_to 'Anuluj', root_path, :class => 'cancel' %></p>

<%- end -%>
